.footer {
  background-color: #62D0DF;
}

.footer__text {
  width: 350px;
  margin: 0 auto;
  padding: 30px 900px 30px 190px;
  color: white;
  font-size: 14px;
  line-height: 10px;
}

.footer__text::before {
  content: url("../../img/copyright.svg");
  display: inline-block;
  width: 9px;
  height: 12px;
  margin-right: 15px;
}
